@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Glitch&display=swap');

:root {
    --d-flex: flex;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(../images/background/body-original.jpg);
    object-fit: scale-down;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: var(--d-flex);
    justify-content: center;
    align-items: center;
}
/*style main*/
.container{
    background-color: rgba(22, 25, 35, 0.73);
    display: var(--d-flex);
    flex-direction: column;
    width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
    border-radius: 8px;  
}
main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    color: #f64c3e;
}
main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    background: linear-gradient(60deg, #8E2DE2, #4A00E0);
    border-radius: 8px;
    top: 28px;
    bottom: 3px;
    left: 0px;
}

/*Form*/
form {
    display: var(--d-flex);
    flex-direction: column;
    
}
.input-field {
    position: relative;
}
.input-field:first-child {
    content: '';
    margin-bottom: 1.5rem;

}
.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background-color: rgba(255, 255, 255, 0.3);
}
.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background: linear-gradient(45deg, #8E2DE2, #4A00E0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}
.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}    
.input-field input {
    outline: none;
    font-size: 0.9rem;
    width: 100%;
    background-color: rgba(22, 25, 35, 0);
    color: #FFF;
}
.input-field input::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-weight: none;
}
#button-submit {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #8E2DE2, #4A00E0);
    cursor: pointer;
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}
#button-submit:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
}

/*social media*/
.footer {
    display: var(--d-flex);
    flex-direction: column;
    margin-top: 1rem;
}
.footer span {
    color: #FF6347;
    text-align: center;
    font-size: 0.8rem;
}
/*Social media*/
main .social-media {
    display: var(--d-flex);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
}
main .social-media a {
    text-decoration: none;
}
main .social-media img{
    width: 36px;
    margin-left: 2.5rem;
}
main .social-media a:first-child img {
    margin-left: 0rem;
}
/*Responsive*/
@media only screen and (max-width: 1919px) {
    body {
        background-image: url(../images/background/body-fullhd.jpg);
    }
}
@media only screen and (min-width: 1920px) and (max-width: 2399px) {
    body {
        background-image: url(../images/background/body-4k.jpg);
    }
}
@media only screen and (min-width: 2400px) {
    body {
        background-image: url(../images/background/body-original.jpg);
    }
}
@media only screen and (max-width: 320px) {
    .container {
        width: 90%;
    }
}