@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Glitch&display=swap');

:root {
    --d-flex: flex;
}
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #1B2029;
    color: #FFF;
    font-weight: 500;
    display: var(--d-flex);
    min-height: 100vh;
    min-width: 100vw;
}
main {
    width: 50vw;
    display: var(--d-flex);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h1 {
    color: #8880FE;
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
}

/*Social media*/
main .social-media {
    display: var(--d-flex);
  align-content: center;
}
main .social-media a {
    text-decoration: none;
}
main .social-media img{
    width: 36px;
    margin-left: 3rem;
}
main .social-media a:first-child img {
    margin-left: 0rem;
}

/*style - OR*/
main .alternative {
    margin-top: 1rem;
}
main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}
main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgba(255, 255, 255, 0.3);
}
main .alternative span::after {
    left: 50px;
}

/*form*/
main form {
    display: var(--d-flex);
    flex-direction:column;
    align-items: center;    
}
main form label {
    display: var(--d-flex);
    flex-direction: column;
}
main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;    
}
main form input {
    background-color: #161923;
    width: 300px;
    height: 50px;
    margin-top: 1rem;
    padding: 0 0.5rem;
    outline: none;
    color: #a6a6a6;
    font-size: 1rem;
    border:1px solid #040B18;
    border-radius: 8px;
}
#button{
    cursor: pointer;
    width: 50%; 
    margin-top: 4rem;
    background-color: #6C63FF;
    border: none;
    border-radius: 32px;
    color: #FFF;
    transition: all 0.5s ease-in-out;
}
#button:hover {
    background-color: #5952D4;
    
}

.images {
    display: var(--d-flex);
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
    width: 50vw;
}
.images img {
    width: 100%;
}
.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
    clip-path: circle(40% at right 80%);
    z-index: -1;
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .images img {
        width: 110%;
    }
    .circle {
        clip-path: circle(35% at right 80%)
    }
}
@media only screen and (max-width: 900px) {
    .images {
        display: none;
        visibility: hidden;
    }
    main {
        align-items: center;
    }
    main {
        width: 100vw;
    }
}
@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }
    main .alternative span {
        font-size: 0.8rem;
    }
    main form label span, #button {
        font-size: 1rem;
    }
}